:root {
  --font-family: Roboto, sans-serif;
  --letter-spacing: 0.03em;
  --color-link: #2196f3;
  --color-title: #212121;
  --font-title: 700;
  --font-size: 14px;
  --background-color: #ffffff;
  --background: #f5f4fa;
  --color-text: #757575;
  --color-text-two: #ffffff;
  --color-icon: #afb1b8;
  --time-animation: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  color: var(--color-text);
  font-size: var(--font-size);
  background-color: var(--background-color);
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
section {
  padding-top: 94px;
}
img {
  display: block;
}
header {
  border-bottom: 1px solid #ececec;
}
footer {
  background-color: #2f303a;
}

/*=============COMPONENT=============*/
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
}
.links {
  position: relative;

  font-weight: 500;
  font-size: var(--font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title);
  text-decoration: none;

  transition: color var(--time-animation) var(--cubic);
}
.links:focus,
.links:hover {
  color: var(--color-link);
  fill: var(--color-link);
}
.link {
  color: var(--color-link);
}
.title {
  font-weight: var(--font-title);
  font-size: 36px;
  line-height: 1.16;
  color: var(--color-title);
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--background-color);
  border-radius: 50%;
  transition: background-color var(--time-animation) var(--cubic);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--color-link);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--background-color);
}
.social-icon {
  fill: var(--color-icon);
  width: 20px;
  height: 20px;
  transition: fill var(--time-animation) var(--cubic);
}
.activ::after {
  position: absolute;

  content: "";
  background-color: var(--color-link);
  width: 100%;
  height: 4px;
  top: 76px;
  border-radius: 2px;
}
/*=============END COMPONENT=============*/
/* ==============MODAL WINDOW============== */
.backdrob {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity var(--time-animation) var(--cubic),
    visibility var(--time-animation) var(--cubic),
    transform var(--time-animation) var(--cubic);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.5);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  width: 528px;
  height: 581px;
  background-color: #fff;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-close-bt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;

  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow var(--time-animation) var(--cubic);
}
.modal-close-bt:hover,
.modal-close-bt:focus {
  box-shadow: none;
}
.modal-close-bt:hover .modal-icon,
.modal-close-bt:focus .modal-icon {
  fill: var(--color-link);
}
.modal-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill var(--time-animation) var(--cubic);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.form-about {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: #212121;
  margin-bottom: 12px;
}
.form-label {
  margin-bottom: 10px;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--time-animation) var(--cubic);
}
.form-input:focus {
  border-color: var(--color-link);
  outline: none;
}
.form-input-span {
  display: block;
  position: relative;
  margin-top: 4px;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  transition: fill var(--time-animation) var(--cubic);
}
.form-input:focus + .input-icon {
  fill: var(--color-link);
}
.form-label-textarea {
  margin-bottom: 20px;
}
.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border var(--time-animation) var(--cubic);
}
.form-textarea:focus {
  border-color: var(--color-link);
  outline: none;
}
.form-checkbox-policy {
  position: relative;
  margin-bottom: 30px;
  padding-left: 32px;
}
.checkbox-icon {
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  left: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}
.form-checkbox:checked ~ .checkbox-icon {
  border-color: #188ce8;
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.form-btn {
  width: 200px;
  height: 50px;
  align-self: center;
}
/* ==============END MODAL WINDOW============== */
/*=============HEADER=============*/
.cont-head {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: var(--font-title);
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.spanlogo {
  color: var(--color-link);
}
.navigation-list {
  display: flex;
  margin-left: 93px;
}
.navigation-item {
  margin-right: 50px;
}
.navigation-item:last-child {
  margin-right: 0;
}
.navigation-list .links {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link-list {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-self: center;
}
.link-list .con-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.link-list .item {
  margin-right: 50px;
}
.link-list .item:last-child {
  margin-right: 0;
}
.con-link {
  color: var(--color-text);
}
.icon-link {
  display: block;
  margin-right: 10px;
  justify-content: center;

  fill: var(--color-text);
  transition: fill var(--time-animation) var(--cubic);
}
.links:focus .icon-link,
.links:hover .icon-link {
  fill: var(--color-link);
}

/*=============END HEADER=============*/
/*=============HERO=============*/
.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/banner.jpg");
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;

  color: var(--color-text-two);
}
.hero-btn {
  font-weight: var(--font-title);
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-text-two);
  background-color: var(--color-link);

  cursor: pointer;

  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time-animation) var(--cubic);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/*=============END HERO=============*/
/*=============RULES=============*/
.rules-list {
  display: flex;
}
.rules-item {
  width: 270px;
  margin-right: 30px;
  text-align: left;
}
.rules-item:last-child {
  margin-right: 0;
}
.rules-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--background);
}

.rules-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}
.rules-about {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.71;
}
.icon-rules {
  width: 70px;
  height: 70px;
}
/*=============END RULES=============*/
/*=============WHAT WE DO=============*/
.what-we-do {
  padding-bottom: 94px;
}
.what-title {
  margin-bottom: 50px;
}
.what-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.what-item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
}
.what-about {
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  left: 0;

  padding: 27px 0;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

/*=============END WHAT WE DO=============*/
/*=============OUR TEAM=============*/
.our-team {
  background-color: var(--background);
  margin-bottom: 0;
  padding-bottom: 94px;
}
.our-team-title {
  margin-bottom: 50px;
}
.our-team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.our-team-item {
  background-color: var(--background-color);
  margin-top: 30px;
  margin-left: 30px;
  width: 270px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.foto {
}
.our-team-box {
  text-align: center;
  padding: 30px 32px;
}

.our-team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.our-team-work {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

/*=============END OUR TEAM=============*/
/*=============Regular Custumers==========*/
.customer {
  padding-bottom: 94px;
}
.customer-title {
  margin-bottom: 50px;
}
.customers-list {
  display: flex;
}
.customers-item + .customers-item {
  margin-left: 30px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  transition: border var(--time-animation) var(--cubic);
}
.customers-link:focus,
.customers-link:hover {
  border: 1px solid var(--color-link);
}

.customers-icon {
  fill: var(--color-icon);
  width: 106px;
  height: 60px;
  transition: fill var(--time-animation) var(--cubic);
}
.customers-link:focus .customers-icon,
.customers-link:hover .customers-icon {
  fill: var(--color-link);
}
/*=============END Regular Custumers==========*/
/*=============PORTFOLIO=============*/
.filters {
  padding-bottom: 94px;
}
.filters-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filters-item {
  margin-right: 8px;
}
.filters-item:last-child {
  margin-right: 0;
}
.filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;

  color: var(--color-title);
  background: var(--background);

  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  transition: color var(--time-animation) var(--cubic),
    background-color var(--time-animation) var(--cubic),
    box-shadow var(--time-animation) var(--cubic);
}
.filters-btn:focus,
.filters-btn:hover {
  color: var(--background-color);
  background-color: var(--color-link);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
}
.gallery-item {
  margin-top: 30px;
  margin-right: 30px;
  width: 370px;
}
.gallery-box {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
  text-align: left;
}
.poster {
}
.gallery-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--time-animation) var(--cubic);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-overlay-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  color: var(--color-text-two);
  background-color: rgba(33, 150, 243, 0.9);

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--time-animation) var(--cubic);
}
.gallery-link:hover .overlay,
.gallery-link:focus .overlay {
  transform: translateY(0%);
}

.gallery-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.gallery-about {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/*=============END PORTFOLIO=============*/
/*=============FOOTER=============*/
.basement {
  padding: 60px 15px;
}
.basement-box {
  display: flex;
  align-items: baseline;
}
.basement-logo {
  color: var(--color-text-two);
}
.ft-adres {
  margin-top: 20px;
  font-style: normal;
}
.adres {
  margin-top: 0;
  margin-bottom: 9px;
  line-height: 1.71;
  color: var(--color-text-two);
  text-decoration: none;
}
.foot-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.ft-item {
  margin-bottom: 9px;
}
.join {
  margin-left: 70px;
}
.join-title {
  color: var(--color-text-two);
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}
.join-list {
}
.join-item + .join-item {
  margin-left: 10px;
}
.join-link {
  background-color: #44454e;
  transition: background-color var(--time-animation) var(--cubic);
}
.join-link:focus,
.join-link:hover {
  background-color: var(--color-link);
}
.join-icon {
  fill: var(--color-text-two);
  transition: fill var(--time-animation) var(--cubic);
}
.footer-mail {
  margin-left: 93px;
}
.footer-mail-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 12px;
}
.footer-form {
  display: flex;
  align-items: center;
}
.footer-input {
  width: 358px;
  height: 55px;
  color: var(--color-text-two);
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
}
.footer-input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}
.footer-button {
  font-weight: var(--font-title);
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-text-two);
  background-color: var(--color-link);

  cursor: pointer;

  padding: 10px 28px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time-animation) var(--cubic);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
.footer-button-icon {
  fill: #fff;
  width: 24px;
  height: 24px;
}

/*=============END FOOTER=============*/
